<FilesMatch "\.php$"> #Tu peux copier/coller ce code pour interdire d'autres extentions
    Order Deny,Allow
    Deny from all
</FilesMatch>

# N'oublie pas de changer les permission du repertoire où tu stocke tes fichiers importée (commande linux: sudo chmod drwxr-xr-x /TON_REPERTOIRE)
